<!------------------------------------------------------------------
    Author: Jerald James A. Capao (jeraldjamescapao@gmail.com)
            University of Fribourg, Switzerland
      E-Government Class Project - Garden House Registration

    The Legal Specification page in English version.
  ------------------------------------------------------------------>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">

<!-- Loading the URL portion of CSS, scripts, & images -->
<!-- 'GardenHouseRegistration/ghrwebsite/static/' -->
{% load staticfiles %} 

<head>
    <title>
        {% block title %} Legal Specification - English {% endblock %}
    </title>
    <!-- Loading the external css files found in ghrwebsite/static/css -->
    <link rel='stylesheet' href='{% static "css/site.css" %}' type='text/css'>
    <link rel='stylesheet' href='{% static "css/menu.css" %}' type='text/css'>
    <link rel='stylesheet' href='{% static "css/form.css" %}' type='text/css'>
    <link rel='stylesheet' href='{% static "css/bubble_tooltip.css" %}' type='text/css'>
</head>

<body>

    <!-- This is where all containers are enclosed -->
    <div class='root_container'>

        {% if not request.session.loggedin %}
            <div class='user_access_panel'> 
                <a href='../WhatCanton/'> Request for Account </a> 
            </div>
            <div class='user_access_panel'> 
                <a href='../Login/'> Login </a> 
            </div>
        {% else %}
            <div class='user_access_panel'> 
                <a href='../Logout/'> Logout </a> 
            </div>
            <div class='user_access_panel'> 
                <a href='{{ request.session.pageURL }}'> Account </a> 
            </div>
        {% endif %}

        <div class='banner'> <img src='{% static "images/banner.png" %}' /> </div>
        <div class='trunk_container'>
            {% include 'MenuBar.html' %} <!-- I put the menu bar on a separate file -->
            <div>
                {% load staticfiles %} 
                <iframe class ='legal_spec' src='{% static "pdf/lsEng.pdf" %}' frameborder='0'>
                </iframe>
            </div>
        </div>

    </div>

</body>

</html>

