<!------------------------------------------------------------------
    Author: Jerald James A. Capao (jeraldjamescapao@gmail.com)
            University of Fribourg, Switzerland
      E-Government Class Project - Garden House Registration

    This will be a child template which fill the parent template
    with the Request Account Form for 'Common Users.'
  ------------------------------------------------------------------>

<!-- It's parent template -->
{% extends 'Homepage.html' %}

{% block title %} User Account Registration Request {% endblock %}

{% block content %}
<div class='form_container'>

    <form id='req_acct_form' action='/ReqAcct/' method='post' onsubmit='return confirmAcctReq();'>

        <div class='form_instruction_container' id='form_instruction_container'>
            Welcome to GHRS! All account requests need an approval from the municipality where you live in order for you to be logged into the system. Hover on the [?] to know what are the constraints in each field we require.
            <div style='color: #F00000; font-size: 12px; margin-top: 9px;'> 
                Important: If the municipality (where you live) is not on the list, it means that it has not yet acquired our services. Requesting for an account from the wrong municipality will only waste your time.
            </div>
        </div>

        {% if input_check_errors %}
            <script type='text/javascript'> 
                var el = document.getElementById('form_instruction_container');
                el.parentNode.removeChild(el);
            </script>
            <div class='error_container'>
                <div class='error_caption'> 
                    Sorry, there were Errors found: 
                </div>
                {% for error in input_check_errors %}
                    {{ error }} <br/>
                {% endfor %}
            </div>
        {% endif %}   

        <table class='form_table'>

            <tr>
                <td> </td>
                <td class='label'> 
                    Municipality: 
                </td>
                <td>
                    <select class='what_municipality' name='select_municipality'>
                        {% for municipalities in municipality_list %}
                            <option value='{{ municipalities.municipality_id }}'> {{ municipalities.municipality_name }} </option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <a href='#' class='tt'>
                        <img src='../static/images/qmark.png' />
		                <span class='tooltip'>
		                    <span class='middle'> The Municipality </span>		
                        </span>		  
                    </a> 
                </td>
            </tr>

            <tr>
                <td class='asterisk'> * </td>
                <td class='label'>
                    E-Mail Address:
                </td>
                <td>
                    <input class='txtbox' type='text' name='email_address' id='email_address' size='25' value='{{ email_address }}' /> 
                </td>
                <td>
                    <a href='#' class='tt'> 
                        <img src='../static/images/qmark.png' />
		                <span class='tooltip'>
		                    <span class='middle'> The E-Mail Address </span>		
                        </span>		  
                    </a> 
                </td>
                <td> </td>
            </tr>
            <tr>
                <td class='asterisk'> * </td>
                <td class='label'>
                    Family Name:
                </td>
                <td>
                    <input class='txtbox' type='text' name='family_name' id='family_name' size='25' value='{{ family_name }}' />
                </td>
                <td>
                    <a href='#' class='tt'>
                        <img src='../static/images/qmark.png' />
		                <span class='tooltip'>
		                    <span class='middle'> The Family Name </span>		
                        </span>		  
                    </a>  
                </td>
                <td> </td>
            </tr>
            <tr>
                <td class='asterisk'> * </td>
                <td class='label'>
                    First Name:
                </td>
                <td>
                    <input class='txtbox' type='text' name='first_name' id='first_name' size='25' value='{{ first_name }}' /> 
                </td>
                <td>
                    <a href='' class='tt'>
                        <img src='../static/images/qmark.png' />
		                <span class='tooltip'>
		                    <span class='middle'> The First Name </span>		
                        </span>		  
                    </a> 
                </td>
                <td> </td>
            </tr>
            <tr>
                <td class='asterisk'> * </td>
                <td class='label' colspan='3'>
                    Street Address / House No.:
                </td>
            </tr>
            <tr>
                <td> </td>
                <td colspan='2'>
                    <input class='txtbox' type='text' name='address_street' id='address_street' size='29' value='{{ address_street }}' /> &nbsp; <b> / </b> &nbsp;
                    <input class='txtbox' type='text' name='address_number' id='address_number' size='1' value='{{ address_number }}' /> 
                </td>
                <td>
                    <a href='#' class='tt'>
                        <img src='../static/images/qmark.png' />
		                <span class='tooltip'>
		                    <span class='middle'> The Address </span>		
                        </span>		  
                    </a> 
                </td>
                <td> </td>
            </tr>
            <tr>
                <td class='asterisk'> * </td>
                <td class='label'> 
                    Postal Code: 
                </td>
                <td> 
                    <input class='txtbox' type='text' name='address_postcode' id='address_postcode' size='13' value='{{ address_postcode }}' /> 
                </td>
                <td>
                    <a href='#' class='tt'>
                        <img src='../static/images/qmark.png' />
		                <span class='tooltip'>
		                    <span class='middle'> The Postal Code </span>		
                        </span>		  
                    </a>
                </td>
                <td> </td>
            </tr>
            <tr>
                <td class='asterisk'> * </td>
                <td class='label'>
                    Mobile No.: 
                </td>
                <td>
                    <input class='txtbox' type='text' name='mobile_number' id='mobile_number' size='25' value='{{ mobile_number }}' /> 
                </td>
                <td>
                    <a href='#' class='tt'>
                        <img src='../static/images/qmark.png' />
		                <span class='tooltip'>
		                    <span class='middle'> The Mobile Number: </span>		
                        </span>		  
                    </a> 
                </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td class='label'>
                    Landline No.:
                </td>
                <td>
                    <input class='txtbox' type='text' name='landline_number' id='landline_number' size='25' value='{{ landline_number }}' />
                </td>
                <td>
                    <a href='#' class='tt'>
                        <img src='../static/images/qmark.png' />
		                <span class='tooltip'>
		                    <span class='middle'> The Landline Number: </span>		
                        </span>		  
                    </a> 
                </td>
                <td> </td>
            </tr>
            <tr>
                <td></td>
                <td colspan='2' align='center' style='padding-top:8px;'> 
                    <div style='margin-top: 3px;'> &nbsp;&nbsp;
                        <input class='site_button' type='button' onClick='clearRegUserFields()' value='Clear' /> &nbsp;
                        <input class='site_button' type='submit' value='Request for an Account' />
                    </div>
                </td>
            </tr>   
        </table>

    </form>
</div>  

    {% if input_check_errors %}
        <script type='text/javascript'> alert('There were errors found. Please check your inputs.') </script>
    {% endif %}

{% endblock %}
